.intee{
    
    background-image: linear-gradient(
        #cc2b5e
        ,
        #753a88);
}

.homee{
    background: url("https://wallpaperset.com/w/full/d/6/c/175354.jpg");
    background-repeat: no-repeat;
    background-size: auto;

}

